*.la
*.lo
*.swp
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
po/Makefile.in.in
aclocal.m4
autom4te.cache
compile
config*
depcomp
install-sh
intltool*
libtool
ltmain.sh
missing
mkinstalldirs
panel-plugin/embed.desktop
panel-plugin/embed.desktop.in
po/.intltool-merge-cache
po/POTFILES
stamp-*
