*.o
*.swp
.deps
INSTALL
Makefile
Makefile.in
po/Makefile.in.in
aclocal.m4
autom4te.cache
compile
config*
depcomp
install-sh
intltool*
libtool
ltmain.sh
missing
mkinstalldirs
panel-plugin/embed.desktop
panel-plugin/xfce4-embed-plugin
po/.intltool-merge-cache
po/POTFILES
stamp-*
